<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Polls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_polls.each do |api_v1_poll| %>
      <tr>
        <td><%= link_to 'Show', api_v1_poll %></td>
        <td><%= link_to 'Edit', edit_api_v1_poll_path(api_v1_poll) %></td>
        <td><%= link_to 'Destroy', api_v1_poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_api_v1_poll_path %>
