<p id="notice"><%= notice %></p>

<h1>Listing Api V1 News Feed Links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_news_feed_links.each do |api_v1_news_feed_link| %>
      <tr>
        <td><%= link_to 'Show', api_v1_news_feed_link %></td>
        <td><%= link_to 'Edit', edit_api_v1_news_feed_link_path(api_v1_news_feed_link) %></td>
        <td><%= link_to 'Destroy', api_v1_news_feed_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News feed link', new_api_v1_news_feed_link_path %>
