<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Date Fields</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_date_fields.each do |api_v1_date_field| %>
      <tr>
        <td><%= link_to 'Show', api_v1_date_field %></td>
        <td><%= link_to 'Edit', edit_api_v1_date_field_path(api_v1_date_field) %></td>
        <td><%= link_to 'Destroy', api_v1_date_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Date field', new_api_v1_date_field_path %>
