<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Mentoring Session Topics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_mentoring_session_topics.each do |api_v1_mentoring_session_topic| %>
      <tr>
        <td><%= link_to 'Show', api_v1_mentoring_session_topic %></td>
        <td><%= link_to 'Edit', edit_api_v1_mentoring_session_topic_path(api_v1_mentoring_session_topic) %></td>
        <td><%= link_to 'Destroy', api_v1_mentoring_session_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentoring session topic', new_api_v1_mentoring_session_topic_path %>
