<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Outcomes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_outcomes.each do |api_v1_outcome| %>
      <tr>
        <td><%= link_to 'Show', api_v1_outcome %></td>
        <td><%= link_to 'Edit', edit_api_v1_outcome_path(api_v1_outcome) %></td>
        <td><%= link_to 'Destroy', api_v1_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outcome', new_api_v1_outcome_path %>
