<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_tags.each do |api_v1_tag| %>
      <tr>
        <td><%= link_to 'Show', api_v1_tag %></td>
        <td><%= link_to 'Edit', edit_api_v1_tag_path(api_v1_tag) %></td>
        <td><%= link_to 'Destroy', api_v1_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_api_v1_tag_path %>
